.idea
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
.DS_Store
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
node_modules/
coverage/
*.cover
*.coverage
*.coveragerc
*.codecov
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
__pypackages__/
celerybeat-schedule
*.sage.py
*.mypy_cache/
*.dmypy.json
*.pyre/
*.pytype/